<ion-content padding class="bgstyle">
    <div class="bar bar-subheader">
        <h2 class="title">Sign-Up</h2>
      </div>
      <br>
  <div>
    <div>
        <ion-item text-center shape="round">
          <ion-input type="text" value="" placeholder="First Name"></ion-input>
        </ion-item>
        <br>
        <ion-item text-center>
          <ion-input type="text" value="" placeholder="Last Name" text-center></ion-input>
        </ion-item>
        <br>
        <ion-item text-center shape="round">
          <ion-input type="text" value="" placeholder="Username"></ion-input>
        </ion-item>
        <br>
        <ion-item text-center>
          <ion-input type="password" value="" placeholder="Password" text-center></ion-input>
        </ion-item>
        <br>
        <ion-item text-center>
            <ion-input type="password" value="" placeholder="Confirm Password" text-center></ion-input>
          </ion-item>
      </div>
      <br>
        <div id="Sign-up">
          <ion-button expand="block" fill="solid" shape="round">Sign-up</ion-button>
      </div>

   
  </div>
</ion-content>


