<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="container">

      <ion-text>
        <h1>Login</h1>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" value=""></ion-input>
      </ion-item>

  </div>

  <div id="login" text-center>
      <ion-button expand="block" fill="outline" >Login</ion-button>
  </div>
  <div id="signup" text-center>
      <ion-label style="text-align:center">Sign Up</ion-label>
  </div>
</ion-content>
