<ion-content padding class="bgstyle">
  <div>
    <div>
        <div style="display: flex; justify-content: center; margin-top:50px; margin-bottom:20px;">
            <img src="https://palrsa.palpensions.com/images/login.png" width="150" height="150">
        </div>
        
        <ion-item text-center shape="round">
          <ion-input type="text" value="" placeholder="Username"></ion-input>
        </ion-item>
        <br>
        <ion-item text-center>
          <ion-input type="password" value="" placeholder="Password" text-center></ion-input>
        </ion-item>

    </div>

    <div id="login">
        <ion-button expand="block" fill="solid" shape="round">Login</ion-button>
    </div>
    <div id="signup" text-center style="margin-top:20px;">
      <a href="https://www.google.com" style="color:white">Sign Up</a>
    </div>
  </div>
</ion-content>
