ion-content{
  font-family:sans-serif;
}
#login{
  position:relative;
  width:200px;
  margin:auto;
  margin-top: 10%;
}
#signup{
  margin-left:auto;
  margin-right:auto;
  margin-top : 3%;
}
#container{
  margin:auto;
  margin-top: 35%;
}
